@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (min-width: 568px) and (max-height: 414px) {
    @content;
  }
}
